* {
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: rgb(29, 122, 228);
  color: white;
  border: 10px solid red;
  display: flex;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
}

.navname a {
  font-size: 48px;
  text-decoration: none;
}

.navname a:hover {
  text-decoration: underline;
  color: rgb(235, 53, 180);
}


.navlinks a {
  margin-left: 10px;
  color:rgb(240, 184, 54);
  text-decoration: none;
  font-size: 30px;
}

.navlinks a:hover {
  color: rgb(235, 53, 180);
  text-decoration: underline;
}