* {
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: rgb(20, 202, 235);
  color: white;
  border: 10px solid rgb(39, 236, 13);
  display: flex;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
}

.navname a {
  font-size: 36px;
  text-decoration: none;
  color: #000000;
  transition: 0.7s;
  background-color: rgb(20, 202, 235);
}

.navname a:hover {
  color: rgb(245, 7, 177);
}

.navlinks a {
  margin-left: 20px;
  color:rgb(3, 3, 3);
  text-decoration: none;
  padding-right: 30px;
  font-size: 30px;
  transition: 0.7s;
}

.navlinks a:hover {
  color: rgb(255, 255, 255);
}

.homeDisplay {
  text-align: center;
  background-color: gray;
}

.homeDisplay h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  padding: 0px 100px 0px 100px;
}

.homeDisplay a {
  text-decoration: none;
  color: rgb(214, 10, 233);
}

.homeDisplay a:hover {
  color: rgb(243, 3, 35);
}

